/*
Page slide Animation
*/
/* purgecss start ignore */
.page_slide-enter{
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    opacity: 0
}
.page_slide-leave-to{
    transform: translateX(20px);
    -webkit-transform: translateX(20px);
    opacity: 0
}
.page_slide-enter-active, .page_slide-leave-active{
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}
/* purgecss end ignore */